/* 
header
------ 
*/
.nav {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 0 100px;
}

.nav .logo {
   width: 80px;
   text-decoration: none;
   display: inline-block;
}

.nav .logo i {
   font-size: 2.5rem;
}

.nav .logo span {
   font-size: 1.8rem;
   font-weight: 600;
   opacity: 0.7;
   color: black;
   padding-left: 5px;
}

.ant-layout-header {
   background-color: white;
   padding: 0;
}

.ant-menu {
   border: 0;
   width: calc(100% - 80px);
   text-align: right;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
   margin: 0 14px !important;
}

.ant-menu .ant-menu-item-selected {
   border: none !important;
   font-weight: 700;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
   border: none;
}

.ant-carousel .hero-item {
   height: 600px;
   display: flex !important;
   justify-content: center;
   flex-direction: column;
   padding: 10px 20px;
}

.ant-carousel .fa {
   padding-right: 5px;
}

.ant-carousel .hero-item-one {
   background: url("./assets/images/bg-hero.jpg");
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}

.ant-carousel .hero-item-two {
   background-image: linear-gradient(
         to left,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)
      ),
      url("./assets/images/advanced-option.jpg");
   background-position: top bottom;
   background-repeat: no-repeat;
   background-size: cover;
}

.ant-carousel .hero-item h2 {
   font-weight: 700;
}

.ant-carousel .hero-item p {
   width: 450px;
}

.ant-carousel .hero-item-two h2 {
   color: white;
}

.ant-carousel .hero-item-two p {
   color: white;
}

@media (max-width: 490px) {
   .ant-carousel .hero-item p {
      width: 95%;
   }
}

/* ABOUT STYLING */
.about {
   padding: 10px;
   width: 100%;
   margin-top: 30px;
}

.about-body {
   margin-top: 30px;
}

.about-body-cards {
   margin-top: 50px;
}

.about-body-cards .fa {
   color: #1890ff;
   font-size: 4rem;
}

/* FEATURES STYLING */
.features {
   padding: 10px;
   width: 100%;
   margin-top: 30px;
}

.features-body-cards {
   margin: auto;
   margin-top: 30px;
   width: 95%;
}

/* HOW IT WORKS STYLING */
.hiw {
   padding: 80px 10px;
   width: 100%;
   margin-top: 30px;
   background-image: linear-gradient(
         to left,
         rgba(0, 0, 0, 0.6),
         rgba(0, 0, 0, 0.6)
      ),
      url("./assets/images/bg-works.jpg");
   background-position: top bottom;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
}

.hiw-header h2 {
   color: white;
}

.hiw-body {
   margin-top: 30px;
   color: white;
}

.hiw-body .fa {
   font-size: 8rem;
}

/* FAQ STYLING */
.faq {
   padding: 10px;
   width: 100%;
   margin-top: 30px;
}

.faq-body {
   margin-top: 30px;
}

.faq-body .ant-collapse-header {
   font-size: 1.8rem;
}

.faq-footer {
   margin-top: 30px;
}

.faq-footer .fa {
   margin-right: 6px;
}

/* Pricing STYLING */
.pricing {
   padding: 10px;
   width: 100%;
   margin-top: 30px;
}

.pricing-body {
   margin-top: 30px;
}

.pricing-body .gutter-row:not(:last-child) {
   margin-bottom: 20px;
}

.pricing-body .ant-card-head-title {
   font-size: 2.5rem;
   opacity: 0.7;
}

.pricing-body .price {
   font-size: 2.3rem;
   opacity: 0.7;
}

.pricing-body ul {
   list-style: none;
   opacity: 0.7;
}

.pricing-body ul li {
   padding: 6px 5px;
   font-size: 1.6rem;
   font-weight: 600;
}

.pricing-body .fa {
   margin-right: 6px;
}

/* UTILITIES */
.sub-header {
   width: 100%;
   font-size: 3rem;
}

.no-gutter {
   margin: 0;
}

.text-center {
   text-align: center;
}

.border-bottom {
   display: inline-block;
   width: 60px;
   border: 2px solid #1890ff;
}
